h1 {
  font-family: "Rowdies", cursive;
  text-align: center;
}
html {
  background-color: rgb(153, 46, 46);
}
ul {
  list-style-type: none;
  background-color: rgb(54, 46, 46);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li {
  border: 1px none rgb(39, 38, 136);
  margin-right: 5%;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
li a:hover {
  background-color: #ffa400;
  color: gray;
}
.image {
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fvietgiaitri.com%2F10-nhan-vat-an-tuong-nhat-loat-attack-on-titan-20210223i5594645%2F&psig=AOvVaw1kk4EF9z7044pyQ01ueoMi&ust=1644402510843000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjqifLy7_UCFQAAAAAdAAAAABAO ");
}
